@using Store.AspProject.DataLayer.Models.user
@using Store.AspProject.Services.Interfces
@using System.Security.Claims
@using Store.AspProject.Utilites
@model user
@inject IOrderService OrderService;
@{
    var order = OrderService.ShowOrdersDetailByUserId(int.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value));
}

<div class="row">


    <div class="col-3">

        <div class="card" style="width: 20rem;">
           
            <div class="card-body">
                <h5 class="card-title">@(Model.IsAdmin?"مدیر":"کاربر عادی")</h5>
            
            </div>
            <ul class="list-group list-group-flush"> ایمیل:
                <li class="list-group-item">@Model.UserEmail</li>
                
                
                
            </ul>
             <ul class="list-group list-group-flush">موبایل:
                
                <li class="list-group-item">@Model.UserMobile</li>
               
                
            </ul>
              <ul class="list-group list-group-flush">نام کاربری:
                
                <li class="list-group-item">@Model.user_name</li>
               
                
            </ul>
            <div class="card-body">
                <a href="/Logout" class="btn btn-danger">خروج</a>
             
            </div>
        </div>

    </div>



    <div class="col-9">
        <section class="content">

            @if (order.Count != 0)
            {
                <div class="row justify-content-center">
                    <div class="col-6 ">
                        <div class="col-12">
                            <div class="box">
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover no-wrap myTable">
                                            <thead>
                                                <tr class="bg-secondary">
                                                    <th scope="col">  تصویر</th>
                                                    <th scope="col">  عنوان</th>
                                                    <th scope="col">تعداد</th>
                                                    <th scope="col">قیمت</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @if (order != null)
                                                {
                                                    @foreach (var item in order)
                                                    {
                                                        <tr>
                                                            <th> <img src="@($"{ImagesfilePath.ProductImage}{item.product.ImageName}")" class="img-thumbnail" style="max-width:100px;height:100px" /></th>
                                                            <th>@item.product.ProductTitle</th>

                                                            <td>@item.Count</td>
                                                            <td>
                                                                <p>
                                                                    @item.Price
                                                                </p>
                                                            </td>

                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            else
            {
                <div class="alert alert-danger" style="width:20rem">
                    <p>
                        شما فاکتور پرداخت شده ای ندارید
                    </p>
                </div>

            }

        </section>

    </div>
</div>